.pswdbox_label {
    text-align: left;
    font-size: 15px;
    margin-bottom: 6px;
    padding: 0 6px 2px 6px;
}

.pswdbox {
    box-sizing: border-box;
    text-align: left;
    background: #fff;
    border: 2px solid #0A0F0D;
    font-size: 20px;
    padding: 12px 14px;
    margin-top: 5px;
    margin-bottom: 18px;
    box-shadow: 6px 6px 1px 0px rgba(209,197,209,0.45);
    border-radius: 8px;
}

.pswdbox:hover{
    box-shadow: 10px 10px 1px 0px rgba(209,197,209,0.6);
}
.pswdbox:focus-within{
    border: 2px solid #533ea5;
    outline:none;
}

.psswd_len {
    text-align: right;
    margin: 3px 4px 10px 0px;
    float: right;
}

@media (max-width: 480px) {
    .pswdbox { font-size: 18px; padding: 10px 12px }
    .pswdbox_label { font-size: 14px }
}